<div class="card ">
    <div class="card-body">
        <form action="" (submit)="addtask(newtitle,newdescription)">
            <div class="form-group">
                <input type="text" class="form-control" #newtitle placeholder="enter task titile">
            </div>
            <div class="form-group p-1">
                <textarea name="" id="" cols="30" rows="10" class="form-control" #newdescription placeholder="enter description.."></textarea>
            </div>
            <button type="submit" class="btn btn-primary form-control">send</button>
        </form>

    </div>
</div>